@import "colors.css";

* { 
  border: none;
  border-radius: 0;
  font: 19px "Mononoki Nerd Font";
  font-weight: 700;
  box-shadow: none; 
  text-shadow: none;
}

@define-color background @surface;
@define-color main-color @primary_fixed;
@define-color second-color @primary;

window#waybar {
  background-color: alpha(@background, 0.8);
  border-radius: 8px;
}

.modules-left, .modules-right {
  margin: 7px;
  color: @main-color;
}

.modules-center {
  margin: 7px;
  color: @second-color;
}

#custom-arch, #workspaces, #window, #mpris, #cpu, #memory, #clock, #language, #pulseaudio, #custom-volumeicon {
  padding: 0px 13px;
  background: @background;
  border-radius: 30px;
}

#custom-arch, #workspaces, #window, #language {
  margin-left: 10px;
}

#language, #cpu, #memory, #clock, #pulseaudio, #custom-volumeicon {
  margin-right: 10px;
}

#workspaces button {
  color: @main-color;
}
